.imagelogo{
    width: 5.625rem;
    height: 5.625rem;

    margin-left: 3.75rem;
}

.topnavbar{
    display: flex;
    flex-direction: row;


    margin-top: 1.5rem;
}

.navbartext{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;

    color: #000000;

    margin-left: 1106px;

    display: flex;
    flex-direction: row;

    margin-top: 20px;
}
.navbardesc{
    margin-left: 3rem;
}

.loginbox{
    width: 125px;
    height: 50px;

    text-align: center;

    background: #6B9080;
    box-shadow: inset -4px -4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    color: white;
}

.loginbody{
    display: flex;
    flex-direction: row;
}

.rightimage{
    width: 920px;
    height: 690px;

    margin-left: 140px;
    margin-top: 94px;
}

.fullnametitle{
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 54px;
/* identical to box height */


color: #475F54;

}

.leftwrapper{
    margin-top: 234px;
    margin-left: 250px;
}

.fullnameinput{
    margin-top: 0.5rem;
    width: 550px;
    height: 60px;

    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */

display: flex;
align-items: center;

color: #605E5C;

}

.meetingid{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #475F54;

    margin-top: 29px;
}

.startbutton{
    width: 260px;
    height: 60px;

    background: #6B9080;
    border-radius: 8px;

    color: white;

    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 20px;
/* identical to box height, or 83% */

display: flex;
align-items: center;
justify-content: center;

color: #FFFFFF;
margin-top: 70px;
}

a:link, a:visited {
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

.bottomwrapper{
    height: 109px;
    background: #FFFFFF;

    display: flex;
    flex-direction: row;
}
.id{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000;

    margin-left: 60px;

    line-height: 109px;
}

.micimage{
    width: 38px;
    height: 43px;
    margin-left: 694px;
    margin-top: 33px;
}

.leavemeeting{
    width: 225px;
    height: 50px;

    background: #FF0000;
    box-shadow: inset -4px -4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 50px;
/* identical to box height */

text-align: center;

color: #FFFFFF;

margin-top: 37px;
margin-left: 658px;
}

.leftbubblechat{
    width: 1225px;
    height: 116px;
    border-radius: 8px;

    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);

    margin-left: 41px;
}

.midwrapper{
    margin-top: 50px;
    height: 675px;
}

.rightbubblechat{
    width: 236px;
height: 50px;

background: #CCE3DE;
border-radius: 8px;

}

.bubblechat{
    margin-top: 12px;
}


.rightchatbubble{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 70px;
}